:root {
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(images/hd-wallpaper-g3e4759a03_1920.jpg);
  background-size: cover;
}
.balls {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.ball-one {
  position: absolute;
  height: 100vh;
  width: 100vw;
  animation: fall 5s 0s infinite ease-in-out alternate;
}
.ball-one img {
  position: absolute;
  animation: bounce 8s 0s infinite linear alternate;
  max-width: 100px;
}

@keyframes bounce {
  from {
    left: 0%;
  }
  to {
    left: 92%;
  }
}
@keyframes fall {
  from {
    top: 0%;
  }
  to {
    top: 89%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lottery-container {
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  max-width: 500px;
  position: relative;
  z-index: 1;
}
.main-content {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.cover {
  height: 300px;
  background-size: cover;
  background-image: url(./images/logo3.png);
}
.winning-numbers {
  display: none;
  gap: 3px;
  justify-content: space-between;
}

.winning-numbers li {
  color: #fff;
  background-color: dodgerblue;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}
.display-flex {
  display: flex;
}

.good-luck {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
}
.good-luck > * {
  display: flex;
}
.good-luck ul li {
  padding-right: 10px;
}
.good-luck ul:last-child {
  display: flex;
  flex-direction: column;
}
.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}
.toggle-input {
  display: none;
}
.toggle-background {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}
.toggle-input:checked ~ .toggle-background {
  background: #4141ec;
}
.toggle-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  height: var(--height);
  width: var(--height);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle-input:checked ~ .toggle-background::after {
  transform: translateX(var(--height));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  -moz-appearance: textfield;
}
.bet-zone-popup,
.bet-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #eee;
  margin-bottom: 20px;
}
.bet-zone ul {
  align-items: center;
}
.numbers-popup,
.numbers {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.edit-zone {
  display: flex;
  gap: 10px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 15px;
  background-color: white;
  justify-content: space-evenly;
}
.edit-zone button {
  font-size: 30px;
  background: none;
  border: none;
  transition: all ease-in-out 0.2s;
}
.changeNumbers {
  display: none;
}

.check-btn:hover {
  opacity: 80%;
}
.writeNumbers:hover {
  color: blue;
}
.changeNumbers:hover {
  color: blue;
}
.deleteNumbers:hover {
  color: blue;
}
.check-btn:active {
  color: #ebb51e;
  background-color: white;
}
.writeNumbers:active {
  color: aqua;
}
.changeNumbers:active {
  color: aqua;
}
.deleteNumbers:active {
  color: aqua;
}
.numbers-popup input,
.number-button,
.numbers input {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.save-btn,
.play-again-btn,
.check-btn {
  font-size: 50px;
  padding: 5px 30px 5px 30px;
  border: none;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-image: linear-gradient(270deg, #ebb51e, #ff7900 99.55%);
}
.play-again-btn {
  display: none;
}

.seven,
.eight,
.nine,
.ten,
.display-none {
  display: none;
}
.display-active {
  display: inline-block;
}

/* POPUP SELECT NUMBERS */
h2 {
  margin: 21px 0 15px 30px;
}
.bet-zone-popup {
  flex-direction: column;
}
.numbers-popup {
  padding-bottom: 30px;
}
.modal-content {
  max-width: 480px;
  position: absolute;
  top: 10%;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 15px;
}

.picker {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.save-btn {
  float: right;
  margin: 0 30px 30px 0;
  font-size: 25px;
}
.close-xmark {
  position: absolute;
  top: 21px;
  right: 30px;
  font-size: 20px;
}
.button-border {
  border: 1px solid #ebb51e;
}

@media (max-width: 500px) {
  .cover {
    height: 260px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 482px) {
  .bet-zone {
    flex-direction: column;
  }
}

@media (max-width: 382px) {
  .winning-numbers li {
    max-width: 50px;
    max-height: 50px;
    line-height: 50px;
  }
}
